In [1]:
import pandas as pd
df=pd.read_csv('student-data.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [2]:
#df.school.value_counts()
df=df.iloc[:,1:]

In [3]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,no
1,F,17,U,GT3,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,no
2,F,15,U,LE3,T,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,yes
3,F,15,U,GT3,T,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,yes
4,F,16,U,GT3,T,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,yes

In [4]:
df.sex.value_counts()

F    208
M    187
Name: sex, dtype: int64

In [5]:
df.sex=df['sex'].map({'F':0,'M':1})#0 for Female and 1 for male

In [6]:
df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,U,GT3,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,no
1,0,17,U,GT3,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,no
2,0,15,U,LE3,T,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,yes
3,0,15,U,GT3,T,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,yes
4,0,16,U,GT3,T,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,yes
5,1,16,U,LE3,T,4,3,services,other,reputation,...,yes,no,5,4,2,1,2,5,10,yes
6,1,16,U,LE3,T,2,2,other,other,home,...,yes,no,4,4,4,1,1,3,0,yes
7,0,17,U,GT3,A,4,4,other,teacher,home,...,no,no,4,1,4,1,1,1,6,no
8,1,15,U,LE3,A,3,2,services,other,home,...,yes,no,4,2,2,1,1,1,0,yes
9,1,15,U,GT3,T,3,4,other,other,home,...,yes,no,5,5,1,1,1,5,0,yes
10,0,15,U,GT3,T,4,4,teacher,health,reputation,...,yes,no,3,3,3,1,2,2,0,no
11,0,15,U,GT3,T,2,1,services,other,reputation,...,yes,no,5,2,2,1,1,4,4,yes
12,1,15,U,LE3,T,4,4,health,services,course,...,yes,no,4,3,3,1,3,5,2,yes
13,1,15,U,GT3,T,4,3,teacher,other,course,...,yes,no,5,4,3,1,2,3,2,yes
14,1,15,U,GT3,A,2,2,other,other,home,...,yes,yes,4,5,2,1,1,3,0,yes
15,0,16,U,GT3,T,4,4,health,other,home,...,yes,no,4,4,4,1,2,2,4,yes
16,0,16,U,GT3,T,4,4,services,services,reputation,...,yes,no,3,2,3,1,2,2,6,yes
17,0,16,U,GT3,T,3,3,other,other,reputation,...,no,no,5,3,2,1,1,4,4,yes
18,1,17,U,GT3,T,3,2,services,services,course,...,yes,no,5,5,5,2,4,5,16,no
19,1,16,U,LE3,T,4,3,health,other,home,...,yes,no,3,1,3,1,3,5,4,yes
20,1,15,U,GT3,T,4,3,teacher,other,reputation,...,yes,no,4,4,1,1,1,1,0,yes
21,1,15,U,GT3,T,4,4,health,health,other,...,yes,no,5,4,2,1,1,5,0,yes
22,1,16,U,LE3,T,4,2,teacher,other,course,...,yes,no,4,5,1,1,3,5,2,yes
23,1,16,U,LE3,T,2,2,other,other,reputation,...,yes,no,5,4,4,2,4,5,0,yes
24,0,15,R,GT3,T,2,4,services,health,course,...,yes,no,4,3,2,1,1,5,2,no
25,0,16,U,GT3,T,2,2,services,services,home,...,yes,no,1,2,2,1,3,5,14,no
26,1,15,U,GT3,T,2,2,other,other,home,...,yes,no,4,2,2,1,2,5,2,yes
27,1,15,U,GT3,T,4,2,health,services,other,...,yes,no,2,2,4,2,4,1,4,yes
28,1,16,U,LE3,A,3,4,services,other,home,...,yes,no,5,3,3,1,1,5,4,yes
29,1,16,U,GT3,T,4,4,teacher,teacher,home,...,yes,yes,4,4,5,5,5,5,16,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,1,18,R,GT3,T,1,3,at_home,other,course,...,no,no,3,3,4,2,4,3,4,yes
366,1,18,U,LE3,T,4,4,teacher,services,other,...,yes,yes,4,2,2,2,2,5,0,yes
367,0,17,R,GT3,T,1,1,other,services,reputation,...,yes,yes,5,2,1,1,2,1,0,no
368,0,18,U,GT3,T,2,3,at_home,services,course,...,yes,yes,5,2,3,1,2,4,0,yes
369,0,18,R,GT3,T,4,4,other,teacher,other,...,yes,yes,3,2,2,4,2,5,10,yes
370,0,19,U,LE3,T,3,2,services,services,home,...,no,yes,3,2,2,1,1,3,4,no
371,1,18,R,LE3,T,1,2,at_home,services,other,...,yes,yes,4,3,3,2,3,3,3,yes
372,0,17,U,GT3,T,2,2,other,at_home,home,...,no,yes,3,4,3,1,1,3,8,yes
373,0,17,R,GT3,T,1,2,other,other,course,...,yes,no,3,5,5,1,3,1,14,no
374,0,18,R,LE3,T,4,4,other,other,reputation,...,yes,no,5,4,4,1,1,1,0,yes
375,0,18,R,GT3,T,1,1,other,other,home,...,yes,no,4,3,2,1,2,4,2,yes
376,0,20,U,GT3,T,4,2,health,other,course,...,yes,yes,5,4,3,1,1,3,4,yes
377,0,18,R,LE3,T,4,4,teacher,services,course,...,yes,no,5,4,3,3,4,2,4,yes
378,0,18,U,GT3,T,3,3,other,other,home,...,yes,yes,4,1,3,1,2,1,0,yes
379,0,17,R,GT3,T,3,1,at_home,other,reputation,...,yes,no,4,5,4,2,3,1,17,yes
380,1,18,U,GT3,T,4,4,teacher,teacher,home,...,yes,no,3,2,4,1,4,2,4,yes
381,1,18,R,GT3,T,2,1,other,other,other,...,yes,yes,4,4,3,1,3,5,5,no
382,1,17,U,GT3,T,2,3,other,services,home,...,yes,no,4,4,3,1,1,3,2,yes
383,1,19,R,GT3,T,1,1,other,services,other,...,no,no,4,3,2,1,3,5,0,no
384,1,18,R,GT3,T,4,2,other,other,home,...,no,no,5,4,3,4,3,3,14,no
385,0,18,R,GT3,T,2,2,at_home,other,other,...,no,no,5,3,3,1,3,4,2,yes
386,0,18,R,GT3,T,4,4,teacher,at_home,reputation,...,yes,yes,4,4,3,2,2,5,7,no
387,0,19,R,GT3,T,2,3,services,other,course,...,yes,no,5,4,2,1,2,5,0,no
388,0,18,U,LE3,T,3,1,teacher,services,course,...,yes,no,4,3,4,1,1,1,0,no
389,0,18,U,GT3,T,1,1,other,other,course,...,no,no,1,1,1,1,1,5,0,no
390,1,20,U,LE3,A,2,2,services,services,course,...,no,no,5,5,4,4,5,4,11,no
391,1,17,U,LE3,T,3,1,services,services,course,...,yes,no,2,4,5,3,4,2,3,yes
392,1,21,R,GT3,T,1,1,other,other,course,...,no,no,5,5,3,3,3,3,3,no
393,1,18,R,LE3,T,3,2,services,other,course,...,yes,no,4,4,1,3,4,5,0,yes
394,1,19,U,LE3,T,1,1,other,at_home,course,...,yes,no,3,2,3,3,3,5,5,no

In [7]:
df.age.value_counts()

16    104
17     98
18     82
15     82
19     24
20      3
22      1
21      1
Name: age, dtype: int64

In [8]:
df=df.drop_duplicates()
df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,U,GT3,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,no
1,0,17,U,GT3,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,no
2,0,15,U,LE3,T,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,yes
3,0,15,U,GT3,T,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,yes
4,0,16,U,GT3,T,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,yes
5,1,16,U,LE3,T,4,3,services,other,reputation,...,yes,no,5,4,2,1,2,5,10,yes
6,1,16,U,LE3,T,2,2,other,other,home,...,yes,no,4,4,4,1,1,3,0,yes
7,0,17,U,GT3,A,4,4,other,teacher,home,...,no,no,4,1,4,1,1,1,6,no
8,1,15,U,LE3,A,3,2,services,other,home,...,yes,no,4,2,2,1,1,1,0,yes
9,1,15,U,GT3,T,3,4,other,other,home,...,yes,no,5,5,1,1,1,5,0,yes
10,0,15,U,GT3,T,4,4,teacher,health,reputation,...,yes,no,3,3,3,1,2,2,0,no
11,0,15,U,GT3,T,2,1,services,other,reputation,...,yes,no,5,2,2,1,1,4,4,yes
12,1,15,U,LE3,T,4,4,health,services,course,...,yes,no,4,3,3,1,3,5,2,yes
13,1,15,U,GT3,T,4,3,teacher,other,course,...,yes,no,5,4,3,1,2,3,2,yes
14,1,15,U,GT3,A,2,2,other,other,home,...,yes,yes,4,5,2,1,1,3,0,yes
15,0,16,U,GT3,T,4,4,health,other,home,...,yes,no,4,4,4,1,2,2,4,yes
16,0,16,U,GT3,T,4,4,services,services,reputation,...,yes,no,3,2,3,1,2,2,6,yes
17,0,16,U,GT3,T,3,3,other,other,reputation,...,no,no,5,3,2,1,1,4,4,yes
18,1,17,U,GT3,T,3,2,services,services,course,...,yes,no,5,5,5,2,4,5,16,no
19,1,16,U,LE3,T,4,3,health,other,home,...,yes,no,3,1,3,1,3,5,4,yes
20,1,15,U,GT3,T,4,3,teacher,other,reputation,...,yes,no,4,4,1,1,1,1,0,yes
21,1,15,U,GT3,T,4,4,health,health,other,...,yes,no,5,4,2,1,1,5,0,yes
22,1,16,U,LE3,T,4,2,teacher,other,course,...,yes,no,4,5,1,1,3,5,2,yes
23,1,16,U,LE3,T,2,2,other,other,reputation,...,yes,no,5,4,4,2,4,5,0,yes
24,0,15,R,GT3,T,2,4,services,health,course,...,yes,no,4,3,2,1,1,5,2,no
25,0,16,U,GT3,T,2,2,services,services,home,...,yes,no,1,2,2,1,3,5,14,no
26,1,15,U,GT3,T,2,2,other,other,home,...,yes,no,4,2,2,1,2,5,2,yes
27,1,15,U,GT3,T,4,2,health,services,other,...,yes,no,2,2,4,2,4,1,4,yes
28,1,16,U,LE3,A,3,4,services,other,home,...,yes,no,5,3,3,1,1,5,4,yes
29,1,16,U,GT3,T,4,4,teacher,teacher,home,...,yes,yes,4,4,5,5,5,5,16,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,1,18,R,GT3,T,1,3,at_home,other,course,...,no,no,3,3,4,2,4,3,4,yes
366,1,18,U,LE3,T,4,4,teacher,services,other,...,yes,yes,4,2,2,2,2,5,0,yes
367,0,17,R,GT3,T,1,1,other,services,reputation,...,yes,yes,5,2,1,1,2,1,0,no
368,0,18,U,GT3,T,2,3,at_home,services,course,...,yes,yes,5,2,3,1,2,4,0,yes
369,0,18,R,GT3,T,4,4,other,teacher,other,...,yes,yes,3,2,2,4,2,5,10,yes
370,0,19,U,LE3,T,3,2,services,services,home,...,no,yes,3,2,2,1,1,3,4,no
371,1,18,R,LE3,T,1,2,at_home,services,other,...,yes,yes,4,3,3,2,3,3,3,yes
372,0,17,U,GT3,T,2,2,other,at_home,home,...,no,yes,3,4,3,1,1,3,8,yes
373,0,17,R,GT3,T,1,2,other,other,course,...,yes,no,3,5,5,1,3,1,14,no
374,0,18,R,LE3,T,4,4,other,other,reputation,...,yes,no,5,4,4,1,1,1,0,yes
375,0,18,R,GT3,T,1,1,other,other,home,...,yes,no,4,3,2,1,2,4,2,yes
376,0,20,U,GT3,T,4,2,health,other,course,...,yes,yes,5,4,3,1,1,3,4,yes
377,0,18,R,LE3,T,4,4,teacher,services,course,...,yes,no,5,4,3,3,4,2,4,yes
378,0,18,U,GT3,T,3,3,other,other,home,...,yes,yes,4,1,3,1,2,1,0,yes
379,0,17,R,GT3,T,3,1,at_home,other,reputation,...,yes,no,4,5,4,2,3,1,17,yes
380,1,18,U,GT3,T,4,4,teacher,teacher,home,...,yes,no,3,2,4,1,4,2,4,yes
381,1,18,R,GT3,T,2,1,other,other,other,...,yes,yes,4,4,3,1,3,5,5,no
382,1,17,U,GT3,T,2,3,other,services,home,...,yes,no,4,4,3,1,1,3,2,yes
383,1,19,R,GT3,T,1,1,other,services,other,...,no,no,4,3,2,1,3,5,0,no
384,1,18,R,GT3,T,4,2,other,other,home,...,no,no,5,4,3,4,3,3,14,no
385,0,18,R,GT3,T,2,2,at_home,other,other,...,no,no,5,3,3,1,3,4,2,yes
386,0,18,R,GT3,T,4,4,teacher,at_home,reputation,...,yes,yes,4,4,3,2,2,5,7,no
387,0,19,R,GT3,T,2,3,services,other,course,...,yes,no,5,4,2,1,2,5,0,no
388,0,18,U,LE3,T,3,1,teacher,services,course,...,yes,no,4,3,4,1,1,1,0,no
389,0,18,U,GT3,T,1,1,other,other,course,...,no,no,1,1,1,1,1,5,0,no
390,1,20,U,LE3,A,2,2,services,services,course,...,no,no,5,5,4,4,5,4,11,no
391,1,17,U,LE3,T,3,1,services,services,course,...,yes,no,2,4,5,3,4,2,3,yes
392,1,21,R,GT3,T,1,1,other,other,course,...,no,no,5,5,3,3,3,3,3,no
393,1,18,R,LE3,T,3,2,services,other,course,...,yes,no,4,4,1,3,4,5,0,yes
394,1,19,U,LE3,T,1,1,other,at_home,course,...,yes,no,3,2,3,3,3,5,5,no

In [9]:
df.address.value_counts()

U    307
R     88
Name: address, dtype: int64

In [10]:
df.address=df['address'].map({'U':0,'R':1})#0 for Urban and 1 for Rural

In [11]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,0,GT3,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,no
1,0,17,0,GT3,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,no
2,0,15,0,LE3,T,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,yes
3,0,15,0,GT3,T,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,yes
4,0,16,0,GT3,T,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,yes

In [12]:
df.address.value_counts()

0    307
1     88
Name: address, dtype: int64

In [13]:
df.famsize.value_counts()

GT3    281
LE3    114
Name: famsize, dtype: int64

In [14]:
df.famsize=df['famsize'].map({'GT3':0,'LE3':1})#0 for GREATER THAN 3 and 1 for LESS THAN OR EQUAL 3

In [15]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,0,0,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,no
1,0,17,0,0,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,no
2,0,15,0,1,T,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,yes
3,0,15,0,0,T,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,yes
4,0,16,0,0,T,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,yes

In [16]:
df.Pstatus.value_counts()

T    354
A     41
Name: Pstatus, dtype: int64

In [17]:
df.Pstatus=df['Pstatus'].map({'T':0,'A':1})#0 for TOGATHER LIVING and 1 for APART LIVING OF PARENTS

In [18]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,0,0,1,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,no
1,0,17,0,0,0,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,no
2,0,15,0,1,0,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,yes
3,0,15,0,0,0,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,yes
4,0,16,0,0,0,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,yes

In [19]:
df.Medu.value_counts()#0- none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education

4    131
2    103
3     99
1     59
0      3
Name: Medu, dtype: int64

In [20]:
df.Mjob.value_counts()

other       141
services    103
at_home      59
teacher      58
health       34
Name: Mjob, dtype: int64

In [21]:
df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,0,0,1,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,no
1,0,17,0,0,0,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,no
2,0,15,0,1,0,1,1,at_home,other,other,...,yes,no,4,3,2,2,3,3,10,yes
3,0,15,0,0,0,4,2,health,services,home,...,yes,yes,3,2,2,1,1,5,2,yes
4,0,16,0,0,0,3,3,other,other,home,...,no,no,4,3,2,1,2,5,4,yes
5,1,16,0,1,0,4,3,services,other,reputation,...,yes,no,5,4,2,1,2,5,10,yes
6,1,16,0,1,0,2,2,other,other,home,...,yes,no,4,4,4,1,1,3,0,yes
7,0,17,0,0,1,4,4,other,teacher,home,...,no,no,4,1,4,1,1,1,6,no
8,1,15,0,1,1,3,2,services,other,home,...,yes,no,4,2,2,1,1,1,0,yes
9,1,15,0,0,0,3,4,other,other,home,...,yes,no,5,5,1,1,1,5,0,yes
10,0,15,0,0,0,4,4,teacher,health,reputation,...,yes,no,3,3,3,1,2,2,0,no
11,0,15,0,0,0,2,1,services,other,reputation,...,yes,no,5,2,2,1,1,4,4,yes
12,1,15,0,1,0,4,4,health,services,course,...,yes,no,4,3,3,1,3,5,2,yes
13,1,15,0,0,0,4,3,teacher,other,course,...,yes,no,5,4,3,1,2,3,2,yes
14,1,15,0,0,1,2,2,other,other,home,...,yes,yes,4,5,2,1,1,3,0,yes
15,0,16,0,0,0,4,4,health,other,home,...,yes,no,4,4,4,1,2,2,4,yes
16,0,16,0,0,0,4,4,services,services,reputation,...,yes,no,3,2,3,1,2,2,6,yes
17,0,16,0,0,0,3,3,other,other,reputation,...,no,no,5,3,2,1,1,4,4,yes
18,1,17,0,0,0,3,2,services,services,course,...,yes,no,5,5,5,2,4,5,16,no
19,1,16,0,1,0,4,3,health,other,home,...,yes,no,3,1,3,1,3,5,4,yes
20,1,15,0,0,0,4,3,teacher,other,reputation,...,yes,no,4,4,1,1,1,1,0,yes
21,1,15,0,0,0,4,4,health,health,other,...,yes,no,5,4,2,1,1,5,0,yes
22,1,16,0,1,0,4,2,teacher,other,course,...,yes,no,4,5,1,1,3,5,2,yes
23,1,16,0,1,0,2,2,other,other,reputation,...,yes,no,5,4,4,2,4,5,0,yes
24,0,15,1,0,0,2,4,services,health,course,...,yes,no,4,3,2,1,1,5,2,no
25,0,16,0,0,0,2,2,services,services,home,...,yes,no,1,2,2,1,3,5,14,no
26,1,15,0,0,0,2,2,other,other,home,...,yes,no,4,2,2,1,2,5,2,yes
27,1,15,0,0,0,4,2,health,services,other,...,yes,no,2,2,4,2,4,1,4,yes
28,1,16,0,1,1,3,4,services,other,home,...,yes,no,5,3,3,1,1,5,4,yes
29,1,16,0,0,0,4,4,teacher,teacher,home,...,yes,yes,4,4,5,5,5,5,16,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,1,18,1,0,0,1,3,at_home,other,course,...,no,no,3,3,4,2,4,3,4,yes
366,1,18,0,1,0,4,4,teacher,services,other,...,yes,yes,4,2,2,2,2,5,0,yes
367,0,17,1,0,0,1,1,other,services,reputation,...,yes,yes,5,2,1,1,2,1,0,no
368,0,18,0,0,0,2,3,at_home,services,course,...,yes,yes,5,2,3,1,2,4,0,yes
369,0,18,1,0,0,4,4,other,teacher,other,...,yes,yes,3,2,2,4,2,5,10,yes
370,0,19,0,1,0,3,2,services,services,home,...,no,yes,3,2,2,1,1,3,4,no
371,1,18,1,1,0,1,2,at_home,services,other,...,yes,yes,4,3,3,2,3,3,3,yes
372,0,17,0,0,0,2,2,other,at_home,home,...,no,yes,3,4,3,1,1,3,8,yes
373,0,17,1,0,0,1,2,other,other,course,...,yes,no,3,5,5,1,3,1,14,no
374,0,18,1,1,0,4,4,other,other,reputation,...,yes,no,5,4,4,1,1,1,0,yes
375,0,18,1,0,0,1,1,other,other,home,...,yes,no,4,3,2,1,2,4,2,yes
376,0,20,0,0,0,4,2,health,other,course,...,yes,yes,5,4,3,1,1,3,4,yes
377,0,18,1,1,0,4,4,teacher,services,course,...,yes,no,5,4,3,3,4,2,4,yes
378,0,18,0,0,0,3,3,other,other,home,...,yes,yes,4,1,3,1,2,1,0,yes
379,0,17,1,0,0,3,1,at_home,other,reputation,...,yes,no,4,5,4,2,3,1,17,yes
380,1,18,0,0,0,4,4,teacher,teacher,home,...,yes,no,3,2,4,1,4,2,4,yes
381,1,18,1,0,0,2,1,other,other,other,...,yes,yes,4,4,3,1,3,5,5,no
382,1,17,0,0,0,2,3,other,services,home,...,yes,no,4,4,3,1,1,3,2,yes
383,1,19,1,0,0,1,1,other,services,other,...,no,no,4,3,2,1,3,5,0,no
384,1,18,1,0,0,4,2,other,other,home,...,no,no,5,4,3,4,3,3,14,no
385,0,18,1,0,0,2,2,at_home,other,other,...,no,no,5,3,3,1,3,4,2,yes
386,0,18,1,0,0,4,4,teacher,at_home,reputation,...,yes,yes,4,4,3,2,2,5,7,no
387,0,19,1,0,0,2,3,services,other,course,...,yes,no,5,4,2,1,2,5,0,no
388,0,18,0,1,0,3,1,teacher,services,course,...,yes,no,4,3,4,1,1,1,0,no
389,0,18,0,0,0,1,1,other,other,course,...,no,no,1,1,1,1,1,5,0,no
390,1,20,0,1,1,2,2,services,services,course,...,no,no,5,5,4,4,5,4,11,no
391,1,17,0,1,0,3,1,services,services,course,...,yes,no,2,4,5,3,4,2,3,yes
392,1,21,1,0,0,1,1,other,other,course,...,no,no,5,5,3,3,3,3,3,no
393,1,18,1,1,0,3,2,services,other,course,...,yes,no,4,4,1,3,4,5,0,yes
394,1,19,0,1,0,1,1,other,at_home,course,...,yes,no,3,2,3,3,3,5,5,no

In [22]:
del df['reason']

In [23]:
df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,0,0,1,4,4,at_home,teacher,mother,...,no,no,4,3,4,1,1,3,6,no
1,0,17,0,0,0,1,1,at_home,other,father,...,yes,no,5,3,3,1,1,3,4,no
2,0,15,0,1,0,1,1,at_home,other,mother,...,yes,no,4,3,2,2,3,3,10,yes
3,0,15,0,0,0,4,2,health,services,mother,...,yes,yes,3,2,2,1,1,5,2,yes
4,0,16,0,0,0,3,3,other,other,father,...,no,no,4,3,2,1,2,5,4,yes
5,1,16,0,1,0,4,3,services,other,mother,...,yes,no,5,4,2,1,2,5,10,yes
6,1,16,0,1,0,2,2,other,other,mother,...,yes,no,4,4,4,1,1,3,0,yes
7,0,17,0,0,1,4,4,other,teacher,mother,...,no,no,4,1,4,1,1,1,6,no
8,1,15,0,1,1,3,2,services,other,mother,...,yes,no,4,2,2,1,1,1,0,yes
9,1,15,0,0,0,3,4,other,other,mother,...,yes,no,5,5,1,1,1,5,0,yes
10,0,15,0,0,0,4,4,teacher,health,mother,...,yes,no,3,3,3,1,2,2,0,no
11,0,15,0,0,0,2,1,services,other,father,...,yes,no,5,2,2,1,1,4,4,yes
12,1,15,0,1,0,4,4,health,services,father,...,yes,no,4,3,3,1,3,5,2,yes
13,1,15,0,0,0,4,3,teacher,other,mother,...,yes,no,5,4,3,1,2,3,2,yes
14,1,15,0,0,1,2,2,other,other,other,...,yes,yes,4,5,2,1,1,3,0,yes
15,0,16,0,0,0,4,4,health,other,mother,...,yes,no,4,4,4,1,2,2,4,yes
16,0,16,0,0,0,4,4,services,services,mother,...,yes,no,3,2,3,1,2,2,6,yes
17,0,16,0,0,0,3,3,other,other,mother,...,no,no,5,3,2,1,1,4,4,yes
18,1,17,0,0,0,3,2,services,services,mother,...,yes,no,5,5,5,2,4,5,16,no
19,1,16,0,1,0,4,3,health,other,father,...,yes,no,3,1,3,1,3,5,4,yes
20,1,15,0,0,0,4,3,teacher,other,mother,...,yes,no,4,4,1,1,1,1,0,yes
21,1,15,0,0,0,4,4,health,health,father,...,yes,no,5,4,2,1,1,5,0,yes
22,1,16,0,1,0,4,2,teacher,other,mother,...,yes,no,4,5,1,1,3,5,2,yes
23,1,16,0,1,0,2,2,other,other,mother,...,yes,no,5,4,4,2,4,5,0,yes
24,0,15,1,0,0,2,4,services,health,mother,...,yes,no,4,3,2,1,1,5,2,no
25,0,16,0,0,0,2,2,services,services,mother,...,yes,no,1,2,2,1,3,5,14,no
26,1,15,0,0,0,2,2,other,other,mother,...,yes,no,4,2,2,1,2,5,2,yes
27,1,15,0,0,0,4,2,health,services,mother,...,yes,no,2,2,4,2,4,1,4,yes
28,1,16,0,1,1,3,4,services,other,mother,...,yes,no,5,3,3,1,1,5,4,yes
29,1,16,0,0,0,4,4,teacher,teacher,mother,...,yes,yes,4,4,5,5,5,5,16,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,1,18,1,0,0,1,3,at_home,other,mother,...,no,no,3,3,4,2,4,3,4,yes
366,1,18,0,1,0,4,4,teacher,services,mother,...,yes,yes,4,2,2,2,2,5,0,yes
367,0,17,1,0,0,1,1,other,services,mother,...,yes,yes,5,2,1,1,2,1,0,no
368,0,18,0,0,0,2,3,at_home,services,father,...,yes,yes,5,2,3,1,2,4,0,yes
369,0,18,1,0,0,4,4,other,teacher,father,...,yes,yes,3,2,2,4,2,5,10,yes
370,0,19,0,1,0,3,2,services,services,other,...,no,yes,3,2,2,1,1,3,4,no
371,1,18,1,1,0,1,2,at_home,services,father,...,yes,yes,4,3,3,2,3,3,3,yes
372,0,17,0,0,0,2,2,other,at_home,mother,...,no,yes,3,4,3,1,1,3,8,yes
373,0,17,1,0,0,1,2,other,other,mother,...,yes,no,3,5,5,1,3,1,14,no
374,0,18,1,1,0,4,4,other,other,mother,...,yes,no,5,4,4,1,1,1,0,yes
375,0,18,1,0,0,1,1,other,other,mother,...,yes,no,4,3,2,1,2,4,2,yes
376,0,20,0,0,0,4,2,health,other,other,...,yes,yes,5,4,3,1,1,3,4,yes
377,0,18,1,1,0,4,4,teacher,services,mother,...,yes,no,5,4,3,3,4,2,4,yes
378,0,18,0,0,0,3,3,other,other,mother,...,yes,yes,4,1,3,1,2,1,0,yes
379,0,17,1,0,0,3,1,at_home,other,mother,...,yes,no,4,5,4,2,3,1,17,yes
380,1,18,0,0,0,4,4,teacher,teacher,father,...,yes,no,3,2,4,1,4,2,4,yes
381,1,18,1,0,0,2,1,other,other,mother,...,yes,yes,4,4,3,1,3,5,5,no
382,1,17,0,0,0,2,3,other,services,father,...,yes,no,4,4,3,1,1,3,2,yes
383,1,19,1,0,0,1,1,other,services,mother,...,no,no,4,3,2,1,3,5,0,no
384,1,18,1,0,0,4,2,other,other,father,...,no,no,5,4,3,4,3,3,14,no
385,0,18,1,0,0,2,2,at_home,other,mother,...,no,no,5,3,3,1,3,4,2,yes
386,0,18,1,0,0,4,4,teacher,at_home,mother,...,yes,yes,4,4,3,2,2,5,7,no
387,0,19,1,0,0,2,3,services,other,mother,...,yes,no,5,4,2,1,2,5,0,no
388,0,18,0,1,0,3,1,teacher,services,mother,...,yes,no,4,3,4,1,1,1,0,no
389,0,18,0,0,0,1,1,other,other,mother,...,no,no,1,1,1,1,1,5,0,no
390,1,20,0,1,1,2,2,services,services,other,...,no,no,5,5,4,4,5,4,11,no
391,1,17,0,1,0,3,1,services,services,mother,...,yes,no,2,4,5,3,4,2,3,yes
392,1,21,1,0,0,1,1,other,other,other,...,no,no,5,5,3,3,3,3,3,no
393,1,18,1,1,0,3,2,services,other,mother,...,yes,no,4,4,1,3,4,5,0,yes
394,1,19,0,1,0,1,1,other,at_home,father,...,yes,no,3,2,3,3,3,5,5,no

In [24]:
df.guardian.value_counts()

mother    273
father     90
other      32
Name: guardian, dtype: int64

In [25]:
df.guardian=df.guardian.map({'mother':0,'father':1,'other':2})#0 for mother 1 for father 2 for other

In [26]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,0,0,1,4,4,at_home,teacher,0,...,no,no,4,3,4,1,1,3,6,no
1,0,17,0,0,0,1,1,at_home,other,1,...,yes,no,5,3,3,1,1,3,4,no
2,0,15,0,1,0,1,1,at_home,other,0,...,yes,no,4,3,2,2,3,3,10,yes
3,0,15,0,0,0,4,2,health,services,0,...,yes,yes,3,2,2,1,1,5,2,yes
4,0,16,0,0,0,3,3,other,other,1,...,no,no,4,3,2,1,2,5,4,yes

In [27]:
df.traveltime.value_counts()#1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour

1    257
2    107
3     23
4      8
Name: traveltime, dtype: int64

In [28]:
df.studytime.value_counts()#weekly study time 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours

2    198
1    105
3     65
4     27
Name: studytime, dtype: int64

In [29]:
df.failures.value_counts()#number of past class failures (numeric: n if 1<=n<3, else 4)

0    312
1     50
2     17
3     16
Name: failures, dtype: int64

In [30]:
df.schoolsup.value_counts()#extra educational support (binary: yes or no)

no     344
yes     51
Name: schoolsup, dtype: int64

In [31]:
df.schoolsup=df.schoolsup.map({'no':0,'yes':1})
df.schoolsup.value_counts()#0 for no and 1 for yes

0    344
1     51
Name: schoolsup, dtype: int64

In [32]:
df.famsup.value_counts()

yes    242
no     153
Name: famsup, dtype: int64

In [33]:
df.famsup=df.famsup.map({'no':0,'yes':1})
df.famsup#0 for no and 1 for yes

0      0
1      1
2      0
3      1
4      1
5      1
6      0
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     0
20     0
21     1
22     0
23     1
24     1
25     1
26     1
27     0
28     1
29     1
      ..
365    1
366    0
367    1
368    1
369    1
370    0
371    1
372    0
373    0
374    0
375    0
376    1
377    0
378    0
379    1
380    0
381    0
382    0
383    0
384    0
385    0
386    1
387    0
388    1
389    0
390    1
391    0
392    0
393    0
394    0
Name: famsup, Length: 395, dtype: int64

In [34]:
df.paid.value_counts()#extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)

no     214
yes    181
Name: paid, dtype: int64

In [35]:
df.paid=df.paid.map({'no':0,'yes':1})
df.paid#0 for no and 1 for yes

0      0
1      0
2      1
3      1
4      1
5      1
6      0
7      0
8      1
9      1
10     1
11     0
12     1
13     1
14     0
15     0
16     1
17     0
18     0
19     1
20     0
21     1
22     0
23     0
24     1
25     1
26     1
27     1
28     0
29     1
      ..
365    1
366    1
367    1
368    1
369    1
370    0
371    1
372    0
373    0
374    0
375    0
376    1
377    1
378    1
379    1
380    1
381    0
382    0
383    0
384    1
385    1
386    1
387    0
388    1
389    0
390    1
391    0
392    0
393    0
394    0
Name: paid, Length: 395, dtype: int64

In [36]:
df.activities.value_counts()#extra-curricular activities (binary: yes or no)

yes    201
no     194
Name: activities, dtype: int64

In [37]:
df.activities=df.activities.map({'no':0,'yes':1})
df.activities#0 for no and 1 for yes

0      0
1      0
2      0
3      1
4      0
5      1
6      0
7      0
8      0
9      1
10     0
11     1
12     1
13     0
14     0
15     0
16     1
17     1
18     1
19     1
20     0
21     0
22     1
23     1
24     1
25     0
26     0
27     0
28     1
29     1
      ..
365    0
366    0
367    0
368    0
369    0
370    1
371    1
372    1
373    1
374    0
375    0
376    0
377    1
378    0
379    1
380    1
381    1
382    1
383    0
384    0
385    0
386    1
387    1
388    0
389    1
390    0
391    0
392    0
393    0
394    0
Name: activities, Length: 395, dtype: int64

In [38]:
df.nursery.value_counts()#attended nursery school (binary: yes or no)

yes    314
no      81
Name: nursery, dtype: int64

In [39]:
df.nursery=df.nursery.map({'no':0,'yes':1})
df.nursery#0 for no and 1 for yes

0      1
1      0
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     0
26     1
27     1
28     1
29     1
      ..
365    1
366    1
367    1
368    1
369    0
370    1
371    1
372    1
373    1
374    1
375    1
376    0
377    1
378    1
379    0
380    0
381    0
382    1
383    1
384    1
385    1
386    1
387    0
388    1
389    1
390    1
391    0
392    0
393    0
394    1
Name: nursery, Length: 395, dtype: int64

In [40]:
df.higher.value_counts()#wants to take higher education (binary: yes or no)

yes    375
no      20
Name: higher, dtype: int64

In [41]:
df.higher=df.higher.map({'no':0,'yes':1})
df.higher#0 for no and 1 for yes

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
365    1
366    1
367    1
368    1
369    1
370    1
371    0
372    1
373    1
374    1
375    1
376    1
377    1
378    1
379    1
380    1
381    1
382    1
383    1
384    1
385    1
386    1
387    1
388    1
389    1
390    1
391    1
392    1
393    1
394    1
Name: higher, Length: 395, dtype: int64

In [42]:
df.internet.value_counts()#Internet access at home (binary: yes or no)

yes    329
no      66
Name: internet, dtype: int64

In [43]:
df.internet=df.internet.map({'no':0,'yes':1})
df.internet#0 for no and 1 for yes

0      0
1      1
2      1
3      1
4      0
5      1
6      1
7      0
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     0
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
365    0
366    1
367    1
368    1
369    1
370    0
371    1
372    0
373    1
374    1
375    1
376    1
377    1
378    1
379    1
380    1
381    1
382    1
383    0
384    0
385    0
386    1
387    1
388    1
389    0
390    0
391    1
392    0
393    1
394    1
Name: internet, Length: 395, dtype: int64

In [44]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,0,0,1,4,4,at_home,teacher,0,...,0,no,4,3,4,1,1,3,6,no
1,0,17,0,0,0,1,1,at_home,other,1,...,1,no,5,3,3,1,1,3,4,no
2,0,15,0,1,0,1,1,at_home,other,0,...,1,no,4,3,2,2,3,3,10,yes
3,0,15,0,0,0,4,2,health,services,0,...,1,yes,3,2,2,1,1,5,2,yes
4,0,16,0,0,0,3,3,other,other,1,...,0,no,4,3,2,1,2,5,4,yes

In [45]:
del df['romantic']

In [46]:
df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,...,higher,internet,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,0,18,0,0,1,4,4,at_home,teacher,0,...,1,0,4,3,4,1,1,3,6,no
1,0,17,0,0,0,1,1,at_home,other,1,...,1,1,5,3,3,1,1,3,4,no
2,0,15,0,1,0,1,1,at_home,other,0,...,1,1,4,3,2,2,3,3,10,yes
3,0,15,0,0,0,4,2,health,services,0,...,1,1,3,2,2,1,1,5,2,yes
4,0,16,0,0,0,3,3,other,other,1,...,1,0,4,3,2,1,2,5,4,yes
5,1,16,0,1,0,4,3,services,other,0,...,1,1,5,4,2,1,2,5,10,yes
6,1,16,0,1,0,2,2,other,other,0,...,1,1,4,4,4,1,1,3,0,yes
7,0,17,0,0,1,4,4,other,teacher,0,...,1,0,4,1,4,1,1,1,6,no
8,1,15,0,1,1,3,2,services,other,0,...,1,1,4,2,2,1,1,1,0,yes
9,1,15,0,0,0,3,4,other,other,0,...,1,1,5,5,1,1,1,5,0,yes
10,0,15,0,0,0,4,4,teacher,health,0,...,1,1,3,3,3,1,2,2,0,no
11,0,15,0,0,0,2,1,services,other,1,...,1,1,5,2,2,1,1,4,4,yes
12,1,15,0,1,0,4,4,health,services,1,...,1,1,4,3,3,1,3,5,2,yes
13,1,15,0,0,0,4,3,teacher,other,0,...,1,1,5,4,3,1,2,3,2,yes
14,1,15,0,0,1,2,2,other,other,2,...,1,1,4,5,2,1,1,3,0,yes
15,0,16,0,0,0,4,4,health,other,0,...,1,1,4,4,4,1,2,2,4,yes
16,0,16,0,0,0,4,4,services,services,0,...,1,1,3,2,3,1,2,2,6,yes
17,0,16,0,0,0,3,3,other,other,0,...,1,0,5,3,2,1,1,4,4,yes
18,1,17,0,0,0,3,2,services,services,0,...,1,1,5,5,5,2,4,5,16,no
19,1,16,0,1,0,4,3,health,other,1,...,1,1,3,1,3,1,3,5,4,yes
20,1,15,0,0,0,4,3,teacher,other,0,...,1,1,4,4,1,1,1,1,0,yes
21,1,15,0,0,0,4,4,health,health,1,...,1,1,5,4,2,1,1,5,0,yes
22,1,16,0,1,0,4,2,teacher,other,0,...,1,1,4,5,1,1,3,5,2,yes
23,1,16,0,1,0,2,2,other,other,0,...,1,1,5,4,4,2,4,5,0,yes
24,0,15,1,0,0,2,4,services,health,0,...,1,1,4,3,2,1,1,5,2,no
25,0,16,0,0,0,2,2,services,services,0,...,1,1,1,2,2,1,3,5,14,no
26,1,15,0,0,0,2,2,other,other,0,...,1,1,4,2,2,1,2,5,2,yes
27,1,15,0,0,0,4,2,health,services,0,...,1,1,2,2,4,2,4,1,4,yes
28,1,16,0,1,1,3,4,services,other,0,...,1,1,5,3,3,1,1,5,4,yes
29,1,16,0,0,0,4,4,teacher,teacher,0,...,1,1,4,4,5,5,5,5,16,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,1,18,1,0,0,1,3,at_home,other,0,...,1,0,3,3,4,2,4,3,4,yes
366,1,18,0,1,0,4,4,teacher,services,0,...,1,1,4,2,2,2,2,5,0,yes
367,0,17,1,0,0,1,1,other,services,0,...,1,1,5,2,1,1,2,1,0,no
368,0,18,0,0,0,2,3,at_home,services,1,...,1,1,5,2,3,1,2,4,0,yes
369,0,18,1,0,0,4,4,other,teacher,1,...,1,1,3,2,2,4,2,5,10,yes
370,0,19,0,1,0,3,2,services,services,2,...,1,0,3,2,2,1,1,3,4,no
371,1,18,1,1,0,1,2,at_home,services,1,...,0,1,4,3,3,2,3,3,3,yes
372,0,17,0,0,0,2,2,other,at_home,0,...,1,0,3,4,3,1,1,3,8,yes
373,0,17,1,0,0,1,2,other,other,0,...,1,1,3,5,5,1,3,1,14,no
374,0,18,1,1,0,4,4,other,other,0,...,1,1,5,4,4,1,1,1,0,yes
375,0,18,1,0,0,1,1,other,other,0,...,1,1,4,3,2,1,2,4,2,yes
376,0,20,0,0,0,4,2,health,other,2,...,1,1,5,4,3,1,1,3,4,yes
377,0,18,1,1,0,4,4,teacher,services,0,...,1,1,5,4,3,3,4,2,4,yes
378,0,18,0,0,0,3,3,other,other,0,...,1,1,4,1,3,1,2,1,0,yes
379,0,17,1,0,0,3,1,at_home,other,0,...,1,1,4,5,4,2,3,1,17,yes
380,1,18,0,0,0,4,4,teacher,teacher,1,...,1,1,3,2,4,1,4,2,4,yes
381,1,18,1,0,0,2,1,other,other,0,...,1,1,4,4,3,1,3,5,5,no
382,1,17,0,0,0,2,3,other,services,1,...,1,1,4,4,3,1,1,3,2,yes
383,1,19,1,0,0,1,1,other,services,0,...,1,0,4,3,2,1,3,5,0,no
384,1,18,1,0,0,4,2,other,other,1,...,1,0,5,4,3,4,3,3,14,no
385,0,18,1,0,0,2,2,at_home,other,0,...,1,0,5,3,3,1,3,4,2,yes
386,0,18,1,0,0,4,4,teacher,at_home,0,...,1,1,4,4,3,2,2,5,7,no
387,0,19,1,0,0,2,3,services,other,0,...,1,1,5,4,2,1,2,5,0,no
388,0,18,0,1,0,3,1,teacher,services,0,...,1,1,4,3,4,1,1,1,0,no
389,0,18,0,0,0,1,1,other,other,0,...,1,0,1,1,1,1,1,5,0,no
390,1,20,0,1,1,2,2,services,services,2,...,1,0,5,5,4,4,5,4,11,no
391,1,17,0,1,0,3,1,services,services,0,...,1,1,2,4,5,3,4,2,3,yes
392,1,21,1,0,0,1,1,other,other,2,...,1,0,5,5,3,3,3,3,3,no
393,1,18,1,1,0,3,2,services,other,0,...,1,1,4,4,1,3,4,5,0,yes
394,1,19,0,1,0,1,1,other,at_home,1,...,1,1,3,2,3,3,3,5,5,no

In [47]:
df.famrel.value_counts()#quality of family relationships (numeric: from 1 - very bad to 5 - excellent)

4    195
5    106
3     68
2     18
1      8
Name: famrel, dtype: int64

In [48]:
df.freetime.value_counts()#free time after school (numeric: from 1 - very low to 5 - very high)

3    157
4    115
2     64
5     40
1     19
Name: freetime, dtype: int64

In [49]:
df.goout.value_counts()#going out with friends (numeric: from 1 - very low to 5 - very high)

3    130
2    103
4     86
5     53
1     23
Name: goout, dtype: int64

In [50]:
del df['Walc']

In [51]:
del df['Dalc']

In [52]:
df

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,...,activities,nursery,higher,internet,famrel,freetime,goout,health,absences,passed
0,0,18,0,0,1,4,4,at_home,teacher,0,...,0,1,1,0,4,3,4,3,6,no
1,0,17,0,0,0,1,1,at_home,other,1,...,0,0,1,1,5,3,3,3,4,no
2,0,15,0,1,0,1,1,at_home,other,0,...,0,1,1,1,4,3,2,3,10,yes
3,0,15,0,0,0,4,2,health,services,0,...,1,1,1,1,3,2,2,5,2,yes
4,0,16,0,0,0,3,3,other,other,1,...,0,1,1,0,4,3,2,5,4,yes
5,1,16,0,1,0,4,3,services,other,0,...,1,1,1,1,5,4,2,5,10,yes
6,1,16,0,1,0,2,2,other,other,0,...,0,1,1,1,4,4,4,3,0,yes
7,0,17,0,0,1,4,4,other,teacher,0,...,0,1,1,0,4,1,4,1,6,no
8,1,15,0,1,1,3,2,services,other,0,...,0,1,1,1,4,2,2,1,0,yes
9,1,15,0,0,0,3,4,other,other,0,...,1,1,1,1,5,5,1,5,0,yes
10,0,15,0,0,0,4,4,teacher,health,0,...,0,1,1,1,3,3,3,2,0,no
11,0,15,0,0,0,2,1,services,other,1,...,1,1,1,1,5,2,2,4,4,yes
12,1,15,0,1,0,4,4,health,services,1,...,1,1,1,1,4,3,3,5,2,yes
13,1,15,0,0,0,4,3,teacher,other,0,...,0,1,1,1,5,4,3,3,2,yes
14,1,15,0,0,1,2,2,other,other,2,...,0,1,1,1,4,5,2,3,0,yes
15,0,16,0,0,0,4,4,health,other,0,...,0,1,1,1,4,4,4,2,4,yes
16,0,16,0,0,0,4,4,services,services,0,...,1,1,1,1,3,2,3,2,6,yes
17,0,16,0,0,0,3,3,other,other,0,...,1,1,1,0,5,3,2,4,4,yes
18,1,17,0,0,0,3,2,services,services,0,...,1,1,1,1,5,5,5,5,16,no
19,1,16,0,1,0,4,3,health,other,1,...,1,1,1,1,3,1,3,5,4,yes
20,1,15,0,0,0,4,3,teacher,other,0,...,0,1,1,1,4,4,1,1,0,yes
21,1,15,0,0,0,4,4,health,health,1,...,0,1,1,1,5,4,2,5,0,yes
22,1,16,0,1,0,4,2,teacher,other,0,...,1,1,1,1,4,5,1,5,2,yes
23,1,16,0,1,0,2,2,other,other,0,...,1,1,1,1,5,4,4,5,0,yes
24,0,15,1,0,0,2,4,services,health,0,...,1,1,1,1,4,3,2,5,2,no
25,0,16,0,0,0,2,2,services,services,0,...,0,0,1,1,1,2,2,5,14,no
26,1,15,0,0,0,2,2,other,other,0,...,0,1,1,1,4,2,2,5,2,yes
27,1,15,0,0,0,4,2,health,services,0,...,0,1,1,1,2,2,4,1,4,yes
28,1,16,0,1,1,3,4,services,other,0,...,1,1,1,1,5,3,3,5,4,yes
29,1,16,0,0,0,4,4,teacher,teacher,0,...,1,1,1,1,4,4,5,5,16,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,1,18,1,0,0,1,3,at_home,other,0,...,0,1,1,0,3,3,4,3,4,yes
366,1,18,0,1,0,4,4,teacher,services,0,...,0,1,1,1,4,2,2,5,0,yes
367,0,17,1,0,0,1,1,other,services,0,...,0,1,1,1,5,2,1,1,0,no
368,0,18,0,0,0,2,3,at_home,services,1,...,0,1,1,1,5,2,3,4,0,yes
369,0,18,1,0,0,4,4,other,teacher,1,...,0,0,1,1,3,2,2,5,10,yes
370,0,19,0,1,0,3,2,services,services,2,...,1,1,1,0,3,2,2,3,4,no
371,1,18,1,1,0,1,2,at_home,services,1,...,1,1,0,1,4,3,3,3,3,yes
372,0,17,0,0,0,2,2,other,at_home,0,...,1,1,1,0,3,4,3,3,8,yes
373,0,17,1,0,0,1,2,other,other,0,...,1,1,1,1,3,5,5,1,14,no
374,0,18,1,1,0,4,4,other,other,0,...,0,1,1,1,5,4,4,1,0,yes
375,0,18,1,0,0,1,1,other,other,0,...,0,1,1,1,4,3,2,4,2,yes
376,0,20,0,0,0,4,2,health,other,2,...,0,0,1,1,5,4,3,3,4,yes
377,0,18,1,1,0,4,4,teacher,services,0,...,1,1,1,1,5,4,3,2,4,yes
378,0,18,0,0,0,3,3,other,other,0,...,0,1,1,1,4,1,3,1,0,yes
379,0,17,1,0,0,3,1,at_home,other,0,...,1,0,1,1,4,5,4,1,17,yes
380,1,18,0,0,0,4,4,teacher,teacher,1,...,1,0,1,1,3,2,4,2,4,yes
381,1,18,1,0,0,2,1,other,other,0,...,1,0,1,1,4,4,3,5,5,no
382,1,17,0,0,0,2,3,other,services,1,...,1,1,1,1,4,4,3,3,2,yes
383,1,19,1,0,0,1,1,other,services,0,...,0,1,1,0,4,3,2,5,0,no
384,1,18,1,0,0,4,2,other,other,1,...,0,1,1,0,5,4,3,3,14,no
385,0,18,1,0,0,2,2,at_home,other,0,...,0,1,1,0,5,3,3,4,2,yes
386,0,18,1,0,0,4,4,teacher,at_home,0,...,1,1,1,1,4,4,3,5,7,no
387,0,19,1,0,0,2,3,services,other,0,...,1,0,1,1,5,4,2,5,0,no
388,0,18,0,1,0,3,1,teacher,services,0,...,0,1,1,1,4,3,4,1,0,no
389,0,18,0,0,0,1,1,other,other,0,...,1,1,1,0,1,1,1,5,0,no
390,1,20,0,1,1,2,2,services,services,2,...,0,1,1,0,5,5,4,4,11,no
391,1,17,0,1,0,3,1,services,services,0,...,0,0,1,1,2,4,5,2,3,yes
392,1,21,1,0,0,1,1,other,other,2,...,0,0,1,0,5,5,3,3,3,no
393,1,18,1,1,0,3,2,services,other,0,...,0,0,1,1,4,4,1,5,0,yes
394,1,19,0,1,0,1,1,other,at_home,1,...,0,1,1,1,3,2,3,5,5,no

In [53]:
df.health.value_counts()#current health status (numeric: from 1 - very bad to 5 - very good)

5    146
3     91
4     66
1     47
2     45
Name: health, dtype: int64

In [54]:
df.absences.value_counts()#number of school absences (numeric: from 0 to 93)

0     115
2      65
4      53
6      31
8      22
10     17
14     12
12     12
3       8
7       7
16      7
18      5
5       5
20      4
22      3
13      3
1       3
9       3
11      3
15      3
23      1
24      1
21      1
25      1
56      1
26      1
28      1
30      1
17      1
38      1
40      1
54      1
19      1
75      1
Name: absences, dtype: int64

In [55]:
df.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,...,activities,nursery,higher,internet,famrel,freetime,goout,health,absences,passed
0,0,18,0,0,1,4,4,at_home,teacher,0,...,0,1,1,0,4,3,4,3,6,no
1,0,17,0,0,0,1,1,at_home,other,1,...,0,0,1,1,5,3,3,3,4,no
2,0,15,0,1,0,1,1,at_home,other,0,...,0,1,1,1,4,3,2,3,10,yes
3,0,15,0,0,0,4,2,health,services,0,...,1,1,1,1,3,2,2,5,2,yes
4,0,16,0,0,0,3,3,other,other,1,...,0,1,1,0,4,3,2,5,4,yes

In [ ]:
if(df.guardian.)
df['job']=